/* 

#Revision History
#
#DEVELOPER                      DATE             Comments
#Julien Pontbriand (2135020)    Oct. 7, 2022     File creation.
#
#Julien Pontbriand (2135020)    Oct. 22, 2022    Added ID css or many tags, including the requird, red, buyingform, label and body tags. Added css for the confirmation class. 
#
#Julien Pontbriand (2135020)    Oct. 23, 2022    Refactored some tags, added css for the submit button, input and textarea tags. Added some css for all tags with the star sign).
#
#Julien Pontbriand (2135020)    Oct. 30, 2022    Final indentation
*/
#delemte{
    
}
#required{
    display:block;
    color:red;
    margin-left:60vw;
}

#red {
    color:red;
}

#buyingForm{
    margin-left:20vw;
    margin-right:20vw;
    background-color: rgba(30,30,100, 0.2);
    border-radius: 10px;
}

label{
    display:inline-block;
    margin: 20px 0 0 50px;
    vertical-align: top;
    font-size:1.5rem;
}

input, textarea{
    margin-top:20px;
}

body{
    background-color: rgba(33,122,122,0.2);
}

.confirmation{
    color: green;
    background-color: rgba(222,222,40,0.8);
    width:100vw;
    text-align: center;
    font-size: 2rem;
}

#submitButton{
    margin-left: calc(50vw - 150px - 20vw);
    margin-bottom: 50px;
    height: 150px;
    width: 300px;
    background-color: rgba(33,66,66, 0.5);
    font-size: 2rem;
    border-radius: 20px;
    color: rgba(222,222,222,0.9);
}