/* 

#Revision History
#
#DEVELOPER                      DATE             Comments
#Julien Pontbriand (2135020)    Oct. 7, 2022     File creation. Added some css for the logo and the footer tags.
#
#Julien Pontbriand (2135020)    Oct. 22, 2022    Added css for the html, anchor, navigation and body tags. 
#
#Julien Pontbriand (2135020)    Oct. 23, 2022    Refactored some tags.
#
#Julien Pontbriand (2135020)    Oct. 30, 2022    Final indentation, added verdana to the font family
#
#Julien Pontbriand (2135020)    Nov. 29, 2022    Removed text decorations from the nav menu
*/
 
* {
    font-family:monospace, arial, verdana;
}

#bodyPrint {
    background-color: white;
}

#logo, #logoPrint {
    
    width: 100px;
    height:100px;
    margin: 20px;
    /*
        Here I just calculate 50% of the width of the parent element - half
        the size of the image, which is 100px
    */
    margin-left: calc(50% - 50px);
}

#logoPrint {
    opacity: 0.3;
    
}

.navigation {
    right:0;
    top:0;
    height: 8vh;
    width: 100vw;
    flex-direction: row;
    justify-content: right;
    display: flex;
    background-color: #0c2d48;
    border-bottom: 5px solid;
}

.navigation a {
    height:4vh;
    text-align: center;
    display:inline-flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left:5%;
    padding-right:5%;
    font-size: 2rem;
    text-decoration: none;
    color: #b1d4e0;
}

footer {
    position:fixed;
    bottom: 0;
    right: 0;
    margin-top: 150px;
    padding: 15px;
    text-align: right;
    font-size: 1rem;
}

body {
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;
}

.red {
    color:red;
}

#loginContainer {
    width:100%;
    height: 5vh;
    positon:relative;
    margin-bottom: 5vh;
    margin-top:4vh;
}

#logoutContainer {
    width:100%;
    height: 5vh;
    positon:relative;
    margin-bottom: 5vh;
    margin-top:4vh;
}

#loginForm {
    position:absolute;
    right:0;
    margin-right: 2vw;
    height:5vh;
    color: aliceblue;
}

#logoutForm {
    position:absolute;
    right:0;
    margin-right: 2vw;
}

.profilePicture{
    width: 100px;
    height:100px;
    border-radius: 30px;
    margin-right: 2vw;
}

#loginButton {
    width: 10vw;
    font-weight: bolder;
    font-size:1.5rem;
    background-color: rgba(44,44,44,0.3);
    border-radius: 10px;
    color: #b1d4e0;
}

.welcome {
    display:inline-block;
    color: black;
    font-size: 2rem;
}

#btnLogout {
    display:inline-block;
    position:relative;
    top:0;
    width:6vw;
    height:6vh;
}

.formLoginSpan a {
    text-decoration:none;
    color: #b1d4e0;
}

.formLoginSpan p {
    color: #cc0000;
}

#pageLoginErrorMessage {
    margin-top: 5vh;
    margin-left: calc(50% - 175px);
    font-weight: bold;
}