/*

#Revision History
#
#DEVELOPER                      DATE             Comments
#Julien Pontbriand (2135020)    Oct. 7, 2022     File creation. Added some css for the logo and the footer tags.
#
#Julien Pontbriand (2135020)    Oct. 22, 2022    Added css for the html, anchor, navigation and body tags. 
#
#Julien Pontbriand (2135020)    Oct. 23, 2022    Refactored some tags.
#
#Julien Pontbriand (2135020)    Oct. 30, 2022    Final indentation, added verdana to the font family
#
#Julien Pontbriand (2135020)    Nov. 29, 2022    Removed text decorations from the nav menu
*/

*{
    font-family:monospace, arial, verdana;
}

#bodyPrint{
    background-color: white;
}

#logo, #logoPrint{
    
    width: 100px;
    height:100px;
    margin: 20px;
    /*
        Here I just calculate 50% of the width of the parent element - half
        the size of the image, which is 100px
    */
    margin-left: calc(50% - 50px);
}

#logoPrint{
    opacity: 0.3;
    
}

.navigation{
    right:0;
    top:0;
    height: 8vh;
    width: 100vw;
    flex-direction: row;
    justify-content: right;
    display: flex;
    background-color: rgba(166,166,166,1);
    border-bottom: 5px solid;
    
}

.navigation a{
    height:4vh;
    text-align: center;
    display:inline-flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left:5%;
    padding-right:5%;
    font-size: 2rem;
    text-decoration: none;
}

footer{
    position:relative;
    bottom: 0;
    margin-top: 150px;
    padding: 15px;
    text-align: right;
    font-size: 2rem;
}

body{
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;
}