/* 

#Revision History
#
#DEVELOPER                      DATE             Comments
#Julien Pontbriand (2135020)    Oct. 7, 2022     File creation. Added css for the body, h1, h2 and p tags.
#
#Julien Pontbriand (2135020)    Oct. 22, 2022    Added css for the body tag and for the following classes : title, superproduct, products 
#
#Julien Pontbriand (2135020)    Oct. 30, 2022    Final indentation, minor comment adjustment
*/

body {
    background-color: #0074b7;
}

h1, h2, .companyDescription p {
    text-align: center;
    margin-top: 10px;
    color: #b1d4e0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

.companyDescription p {
    font-size: 1rem;
    max-width: 800px;
    margin-left: 30vw;
    margin-right:30vw;
}

.companyDescription {
    margin-top: 5vh;
}

body {
    width:100vw;
    height:100vh;
}

.products {
    width: 300px;
    height:300px;
    margin: 20px;
    /*
        Here I just calculate 50% of the width of the parent element - half
        the size of the image, which is 100px
    */
    margin-left: calc(50% - 150px);
    opacity: 0.8;
    display:inline-block;
    border: 4px solid;
    border-color: black;
}

.superProduct {
    width: 600px;
    height:600px;
    margin: 20px;
    /*
        Here I just calculate 50% of the width of the parent element - half
        the size of the image, which is 600/2 px
    */
    margin-left: calc(50% - 300px);
    border: 6px solid;
    border-color: green;
    display:inline-block;
}

.title {
    margin-top:100px;
    font-size: 2rem;
}

#downloadButtonContainer {
    width:100vw;
    height:150px;
}

#btnDownload {
    width: 30vw;
    position: absolute;
    margin-left: calc(50% - 15vw);
    margin-top: 5vh;
    font-weight: bolder;
    font-size:2rem;
    background-color: rgba(44,44,44,0.3);
    border-radius: 10px;
    margin-bottom: 3vh;
    color: #b1d4e0;
}

#videoEncryption {
    width : 532px;
    height: 300px;
    margin-left:calc(50% - 266px);
}

.welcome {
    color: #b1d4e0;
}