/*

#Revision History
#
#DEVELOPER                      DATE             Comments
#Julien Pontbriand (2135020)    Oct. 7, 2022     File creation.
#
#Julien Pontbriand (2135020)    Oct. 23, 2022    Added css for all tags with the star symbol, for html, body, noOrdersFound, table, td tags
#
#Julien Pontbriand (2135020)    Oct. 30, 2022    Final indentation touch up

*/ 

 
body {
    background-color: #bfd7ed;
}

.welcome {
    color: #003b73;
}

#deleteButton {
    background-color: rgba(233, 111, 111, 0.5);
}

#loginForm label{
    color: #0c2d48;
}

#loginForm a {
    color: #145da0;
}

#loginButton{
    color: #145da0;
}

#timePicker {
    margin-left: 30vw;
    margin-bottom: 5vh;
}

#noOrdersFound {
    width: 100vw;
    text-align: center;
}

table {
    width: 100vw;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

td {
    border:1px solid grey;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    background-color: #145da0;
    color:#b1d4e0;
} 


#downloadButtonContainer {
    display:block;
    width: 100vw;
    height:10vh;
    margin-bottom: 50vh;
}

#deleteButton {
    background-color: #0c2d48;
    color:#b1d4e0;
}