/*

#Revision History
#
#DEVELOPER                      DATE             Comments
#Julien Pontbriand (2135020)    Oct. 7, 2022     File creation.
#
#Julien Pontbriand (2135020)    Oct. 23, 2022    Added css for all tags with the star symbol, for html, body, noOrdersFound, table, td tags
#
#Julien Pontbriand (2135020)    Oct. 30, 2022    Final indentation touch up

*/ 

#timePicker{
    margin-left: 30vw;
    margin-bottom: 5vh;
}

#noOrdersFound{
    width: 100vw;
    text-align: center;
}

table{
    width: 100vw;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

td{
    border:1px solid grey;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    background-color: rgba(222,222,222,1);
} 
 
body{
    background-color: rgba(11,222,222,0.2)
}

#downloadButtonContainer{
    display:block;
    width: 100vw;
    height:10vh;
    margin-bottom: 50vh;
}



#tdRedColor{
    color: red;
}

#tdOrangeColor{
    color: rgba(236, 120, 21, 1);
}

#tdGreenColor{
    color: green;
}